.group-events-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        padding-top: 20px;
    }

    .group-events-div-container {
        width: 500px;
        padding: 20px;
        min-height: 300px;

        .group-events-div-item {
            display: flex;
            flex-direction: column;
            border: 1px solid lightgrey;
            border-radius: 5px;
            padding: 20px;
            margin: 10px;
            box-shadow: 5px 5px 10px grey;
            font-family: sans-serif;

            .group-events-item-div1 {
                display: flex;
                justify-content: space-between;
                
                .events-info-div {
                    display: flex;
                    flex-direction: column;

                    .events-date-span {
                        color: red;
                    }

                    .events-name-span {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        font-weight: bold;
                        font-size: 20px;
                    }

                    .events-location-span {
                        color: grey;
                    }
                }

                .event-index-image {
                    height: 100px;
                    width: 150px;
                    border-radius: 10px;
                }
            }

            .group-events-item-div2 {
                .events-description-p {
                    
                }
            }

            .group-events-item-div3 {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .events-attendees-div {
                    .events-attendees-span {
                        color: grey;
                    }
                }

                .events-attend-button-div {

                    .events-attend-button {
                        background-color: red;
                        font-size: 14px;
                        font-family: sans-serif;
                        font-weight: bold;
                        border-radius: 5px;
                        padding: 10px;
                        box-shadow: 2px 2px grey;
                        width: 100px;
                        text-align: center;
                        &:hover {
                            cursor: pointer;
                        }

                    }
                    
                }

            }
        }

    }
}

// .whole-page-div {
//     background: image-url("curtains.jpg");
// }