
.new-event-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;

    .form-img-container {
        display: flex;
        justify-content: center;
        width: 1000px;
        height: 800px;

        .new-event-image {
            width: 1000px;
            height: 800px;
            z-index: 1;
            position: absolute;
            top: -50;
        }
    
        .event-form-box {
            position: absolute;
            z-index: 5;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 100px;
            padding: 30px;
            background-color: rgba(139, 137, 137, 0.6);
            width: 25%;
            border-radius: 5px;

            .event-form {
                display: flex;
                flex-direction: column;
                align-items: center;

                .event-input {
                    font-size: 16px;
                    width: 200px;
                }

                .event-description-input {
                    font-size: 16px;
                    width: 200px;
                    height: 100px;
                }

                .event-submit {
                    font-family: sans-serif;
                    background-color: red;
                    font-weight: bolder;
                    width: 90px;
                    height: 33px;
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;
                    margin: 5px;
                    font-size: 11px;
                }

                .event-edit-buttons-div{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .event-submit {
                        font-family: sans-serif;
                        background-color: red;
                        font-weight: bolder;
                        width: 90px;
                        height: 33px;
                        border-radius: 5px;
                        border: none;
                        cursor: pointer;
                        margin: 5px;
                        font-size: 11px;

                        .delete {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}