h2 {
    font-family: sans-serif;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-input {
    width: 100%;
    border:lightgrey solid 1px;
    border-radius: 5px;
    padding: 10px;
}

.signup-submit {
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  box-shadow: 5px 5px 10px black;
}

.signup-errors {
    min-height: 16px;

}

.signup-errors ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.signup-errors li {
    list-style-type: none;
    color: red;
    font-family: sans-serif;
    padding-bottom: 10px;
}