.splash-image-box {
    overflow: hidden;
    height: 500px;
    position: relative;
    

    .splash-image {
        z-index: 2;
        position: absolute;
        width: 100%;
        min-width: 1000px;
        top: -225px;
    }

    .splash-image-box-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        

        .splash-image-box-contents {
            color: white;
            font-family: sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .splash-image-box-header {
                font-size: 42px;
                z-index: 5;
                padding: 15px;
            }
    
            .splash-image-box-details {
                font-size: 20px;
                z-index: 5;
            }

            .splash-image-box-button {
                z-index: 5;
                width: 300px;
                height: 50px;
                margin-top: 40px;
                background-color: red;
                border-radius: 10px;
                font-size: 16px;
                box-shadow: 5px 5px 10px black;
            }
        }
    }
}
